<!DOCTYPE html>
<html>
<head>
    <title>Page 1</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>About Me</h1>
    </header>
    <nav>
        <ul>
		    <li><a href="index.html">Homepage</a></li>
            <li><a href="about.html">About Me</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="form.html">Form</a></li>
       </ul>
    </nav>
    <main>
        <h2>About Me</h2>
        <p>As you know already, I love to cook, go to the gym, and hang out with my buddies.
			What you don't know is that I was born in Moultrie, Georgia and that I moved up to Valparaiso, IN
			when I was 5 years old. My family and I have lived there ever since! My goals in life
			include having a successful career in the IT field, forming valuable and meaningful relationships,
			and living a long and fruitful life!
		</p>
		<H2>Headshot</H2>
		<img src="images\KSBSamiAlnahass_20230818_02 (1).jpg" width="50%" height="50%" >

    </main>
</body>
</html>