<!DOCTYPE html>
<html>
<head>
    <title>Page 4</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>Contact</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Homepage</a></li>
            <li><a href="about.html">About Me</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="form.html">Form</a></li>
        </ul>
    </nav>
    <main>
        <h2>Contact Information</h2>
        <nav>
            <div class="vertical-menu">
                <a href="https://www.linkedin.com/in/samialnahass">LinkedIn</a>
                <p>Personal Email: salnahass2000@gmail.com</p>
                <p>School Email: salnahas@iu.edu</p>
              </div>
    </main>
</body>
</html>