<!DOCTYPE html>
<html>
<head>
    <title>Page 3</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <header>
        <h1>Projects</h1>
    </header>
    <nav>
        <ul>
		    <li><a href="index.html">Homepage</a></li>
            <li><a href="about.html">About Me</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="form.html">Form</a></li>
       </ul>
    </nav>
    <main>
        <h2>Projects and Skills</h2>
        <p>Throughout my undergrad I have sharpened my technical skills in coding with multiple 
            languages, one of my proudest achievements was my capstone project.
        </p>
        <p> This project helps new students to form relationships and make friends! Just fill out the survey and you'll be matched 
            with others with similar interests.
        </p>
        <li><a href="https://zion.luddy.indiana.edu/info-capstone-2023/friend-finder">Capstone Project</a></li>
    </main>
</body>
</html>