<!DOCTYPE html>
<html>
<head>
    <title>Page 2</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
    <header>
        <h1>Resume Page</h1>
    </header>
    <nav>
        <ul>
		    <li><a href="index.html">Homepage</a></li>
            <li><a href="about.html">About Me</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="form.html">Form</a></li>
        </ul>
    </nav>
    <main>
        <h2>My Resume</h2>
        <img src="images\ss of resume.png" height="20%" >

    </main>
</body>
</html>